body {
    font-family: Roboto sans-serif;
    padding: 0px;
}

.first-layer {
    height: 500px;
    background: #1F2937;
    padding: 0 150px;
}

.logo {
    font-size: 24px;
    color: #E5E7EB;
}

a {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 24px;
}

.hero-main {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
    flex-wrap: wrap;
}

.hero-second {
    font-size: 18px;
    color: #E5E7EB;
    flex-wrap: wrap;
    padding-bottom: 8px;
}

button {
    border-radius: 7px;
    padding: 8px 24px;
    font-size: 18px;
    color: white;
    background: #3882F6;
    border: none;
}

.image-placeholder {
    width: 530px;
    height: 200px;
    background: gray;
    flex-shrink: 0;
    color: white;
    text-align: center;
    align-content: center;
    margin: 0px;
    padding: 0px;
}

.headers {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 100px;
}

.hero-section {
    display: flex;
    padding-bottom: 100px;
    max-height: 200px;
    gap: 16px;
}

.second-layer {
    height: 400px;
    margin: 0px;
    padding: 0px;
}

.info-header {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    text-align: center;
    padding: 32px;
}

.huge {
    width: 140px;
    height: 140px;
    border: 5px solid #3882F6;
    background: none;
    border-radius: 15px;
    flex-shrink: 0;
    margin-bottom: 8px;
}

.huge-buttons {
    display: flex;
    text-align: center;
    gap: 36px;
    justify-content: center;
    padding-bottom: 68px;
}

.info-one, .info-two, .info-three, .info-four {
    max-width: 140px;
    flex-wrap: wrap;    
}

.third-layer {
    background: #E5E7EB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 100px 250px;
}

.quote {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1F2937;
    margin: 0px;
    padding: 0px;
}

.sign {
    font-weight: 600;
    margin-left: auto;
    padding: 0px 32px;
}

.forth-layer {
    padding: 80px 150px;
}

.long-width {
    border-radius: 5px;
    background: #3882F6;
    padding: 40px 100px;
    display: flex;
    margin: 0px;
    flex: 1;
    justify-content: space-between;
}

.white-border {
    border: 3px solid white;
    border-radius: 7px;
    padding: 3px 30px;
}

.action {
    color: white;
    font-weight: 900;
}

.action-message {
    color: white;
}

